.navbar-wrapper {
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar {
    background-color: var(--primary-color);
    align-items: space-between;
    justify-content: space-between;
    border-radius: 0;
}

.search-bar-wrapper>input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    width: 20vw;
    outline: none;
    border: none;
}

.nav-left-side-pills>i {
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.badge{
    background-color: var(--white-color);
    color:var(--primary-color);
}