.modal-active{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-container{
    width: 50%;
}

form{
background-color: white;
padding: 2rem;
}

.input-field{
    padding: 0.5rem;
    margin-top: 1rem;
}


.margin-left-auto{
    margin-left: auto;
}

.address-modal-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .modal-container{
        width: 100%;
    }

    .input-field{
        padding: 0.2rem;
        margin-top: 1rem;
    }
}